<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div class="container">
    <form id="configEditForm" class="form-horizontal" role="form">
        <div class="row text-center">
            <h3>系统参数</h3>
        </div>

        <!-- 操作 -->
        <div class="row">
            <!-- 系统参数配置 -->
            <div class="col-md-3">
                <!-- 隐藏表单值 -->
                <div class="form-group hidden">
                    <input name="id" type="text" th:value="${config?.id}"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">刷新监控频率 <strong class="driverVerifcateRequired">*</strong></label>
                    <div class="col-sm-8">
                        <input type="number" class="form-control" max="100" min="1" dbsyncer-valid="require" name="refresh" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="text-right col-sm-4"></div>
                    <div class="text-right col-sm-8">
                        <button id="updateSystemSubBtn" type="button" class="btn btn-primary">
                            <span class="fa fa-save"></span>保存
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
</div>

<script th:src="@{/js/ststem/index.js}"></script>
</html>