<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content">
    <div class="dbsyncer-section-title">MySQL 连接配置</div>
    
    <div class="form-grid-2">
        <div class="form-item">
            <label class="form-label">主机<strong class="text-primary">*</strong></label>
            <div class="form-control-area">
                <input class="form-control" name="host" type="text" maxlength="32" dbsyncer-valid="require" placeholder="localhost" th:value="${connector?.config?.host}?: 'localhost'"/>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">端口<strong class="text-primary">*</strong></label>
            <div class="form-control-area">
                <input class="form-control" name="port" type="number" maxlength="64" dbsyncer-valid="require" placeholder="3306" th:value="${connector?.config?.port}?: '3306'"/>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">用户名<strong class="text-primary">*</strong></label>
            <div class="form-control-area">
                <input class="form-control" name="username" type="text" maxlength="32" dbsyncer-valid="require" placeholder="root" th:value="${connector?.config?.username}"/>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">密码<strong class="text-primary">*</strong></label>
            <div class="form-control-area">
                <input class="form-control" name="password" type="password" maxlength="64" dbsyncer-valid="require" placeholder="请输入密码" th:value="${connector?.config?.password}"/>
            </div>
        </div>
    </div>

    <div th:replace="connector/addDataBaseProperties :: content"></div>
    
    <div class="form-item-full">
        <label class="form-label">连接参数</label>
        <div class="form-control-area">
            <textarea name="properties" class="form-control" maxlength="1024" rows="5"
                      th:text="${connector?.config?.properties} ?: 'rewriteBatchedStatements=true&amp;useUnicode=true&amp;characterEncoding=UTF8&amp;serverTimezone=Asia/Shanghai&amp;useSSL=false&amp;verifyServerCertificate=false&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;tinyInt1isBit=false&allowPublicKeyRetrieval=true'"></textarea>
        </div>
    </div>

</div>

</html>