<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content">
    <div class="dbsyncer-section-title">SQL Server 连接配置</div>
    
    <div class="form-grid-2">
        <div class="form-item">
            <label class="form-label">主机<strong class="text-primary">*</strong></label>
            <div class="form-control-area">
                <input class="form-control" name="host" type="text" maxlength="32" dbsyncer-valid="require" placeholder="127.0.0.1" th:value="${connector?.config?.host}?: '127.0.0.1'"/>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">端口<strong class="text-primary">*</strong></label>
            <div class="form-control-area">
                <input class="form-control" name="port" type="number" maxlength="64" dbsyncer-valid="require" placeholder="1433" th:value="${connector?.config?.port}?: '1433'"/>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">用户名<strong class="text-primary">*</strong></label>
            <div class="form-control-area">
                <input class="form-control" name="username" type="text" maxlength="32" dbsyncer-valid="require" placeholder="sa" th:value="${connector?.config?.username}"/>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">密码<strong class="text-primary">*</strong></label>
            <div class="form-control-area">
                <input class="form-control" name="password" type="password" maxlength="64" dbsyncer-valid="require" placeholder="请输入密码" th:value="${connector?.config?.password}"/>
            </div>
        </div>
    </div>
    
    <div th:replace="connector/addDataBaseProperties :: content"></div>
    
    <div class="form-item-full">
        <label class="form-label">连接参数</label>
        <div class="form-control-area">
            <textarea name="properties" class="form-control" maxlength="1024" rows="5"
                      th:text="${connector?.config?.properties} ?: 'encrypt=false&trustServerCertificate=true'"></textarea>
        </div>
    </div>
    
    <div class="form-item-full">
        <label class="form-label">驱动</label>
        <div class="form-control-area">
            <input class="form-control" readonly="true" name="driverClassName" type="text" th:value="${connector?.config?.driverClassName} ?: 'com.microsoft.sqlserver.jdbc.SQLServerDriver'" />
        </div>
    </div>
</div>

</html>