<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>dbsyncer</title>
<link type="image/x-icon" rel="icon" th:href="@{/images/sync.ico}"/>
<link type="text/css" rel="stylesheet" th:href="@{/css/login/login.css}"/>
</head>
<body>
<form id="loginForm" name="loginForm" method="post"></form>
<p class="loginTextCenter text-center" id="loginCopyrightInfo"></p>
</body>
<script th:src="@{/plugins/js/jquery/jquery-1.11.3.min.js}"></script>
<script th:src="@{/plugins/js/placeholder/jquery.placeholder.js}"></script>
<!-- 上述1个js文件解决IE10以上placeholder的兼容性问题 -->
<script th:src="@{/js/login/login.js}"></script>
</html>