<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div class="form-container">
    <form id="validate-sync-modify-form" method="post">
        <div class="card-header">
            <div class="grid grid-cols-6 items-center">
                <div class="lg:col-span-2"></div>
                <div class="lg:col-span-2 card-title text-center">
                    <span id="task-name-modify" class="text-xxl">[[${task?.name}]]</span>
                    <i class="fa fa-edit text-info text-xl cursor-pointer" th:title="点击修改名称" th:onclick="taskModifyName()"></i>
                    <!-- 隐藏表单值 -->
                    <div class="hidden">
                        <input id="taskId" name="id" type="text" th:value="${task?.id}"/>
                        <input name="name" type="text" th:value="${task?.name}"/>
                    </div>
                </div>
                <div class="lg:col-span-2"></div>
            </div>
        </div>
        <div class="card-body">
            <!-- 校验关系 -->
            <div class="grid grid-cols-3">
                <div class="flex items-center">
                    <img draggable="false" style="width: 60px; height: 60px;" th:src="@{'/img/'+ ${task?.sourceConnector?.config?.connectorType} + '.png'}" />
                    <div class="ml-2">
                        <p class="text-md">[[${task?.sourceConnector?.name}]]</p>
                        <p class="text-sm">
                            源库：[[${task?.sourceDatabase}]]
                            <span th:if="${!#strings.isEmpty(task?.sourceDatabase) and !#strings.isEmpty(task?.sourceSchema)}"> (</span>
                            [[${task?.sourceSchema}]]
                            <span th:if="${!#strings.isEmpty(task?.sourceDatabase) and !#strings.isEmpty(task?.sourceSchema)}"> )</span>
                        </p>
                    </div>
                </div>
                <div class="text-info items-center text-center">
                    <p></p>
                    <i class="fa fa-arrow-right fa-3x"></i>
                </div>
                <div class="flex items-center">
                    <img draggable="false" style="width: 60px; height: 60px;" th:src="@{'/img/'+ ${task?.targetConnector?.config?.connectorType} + '.png'}" />
                    <div class="ml-2">
                        <p class="text-md">[[${task?.targetConnector?.name}]]</p>
                        <p class="text-sm">
                            目标库：[[${task?.targetDatabase}]]
                            <span th:if="${!#strings.isEmpty(task?.targetDatabase) and !#strings.isEmpty(task?.targetSchema)}"> (</span>
                            [[${task?.targetSchema}]]
                            <span th:if="${!#strings.isEmpty(task?.targetDatabase) and !#strings.isEmpty(task?.targetSchema)}"> )</span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- 同步模式选择 -->
            <div class="flex items-center justify-end mt-4">
                <div class="form-actions">
                    <span th:if="${task?.state ne 0}">
                        <button type="button" class="btn btn-info" disabled>
                            <i class="fa fa-save"></i> 运行中
                        </button>
                    </span>
                    <button th:if="${task?.state eq 0}"
                            id="task-submit-btn"
                            type="button"
                            class="btn btn-primary">
                        <i class="fa fa-save"></i> 保存
                    </button>
                    <button type="button" class="btn btn-outline" onclick="backIndexPage()">
                        <i class="fa fa-reply"></i> 返回
                    </button>
                </div>
            </div>

            <!-- 执行策略选择 -->
            <div class="grid grid-cols-4">
                <div id="task-trigger" class="radio-group">
                    <input type="radio" name="trigger" value="once" th:checked="${'once' eq task?.trigger}" />
                    <label>执行一次</label>
                    <input type="radio" name="trigger" value="timing" th:checked="${'timing' eq task?.trigger}" />
                    <label>定时</label>
                </div>
            </div>

        </div>
    </form>
</div>

<script type="text/javascript">

</script>

</html>