@charset "UTF-8";
.connectorList img{width: 65px;height: 65px; border-radius: 20%;}
.connectorList .well-sign-red{color: #ff0000;}
.connectorList .well-sign-operation{color: #999999; border-radius: 50%; }
.connectorList .well-sign-operation:hover {color: #333333;}
.connectorList .dropdown {position: absolute; right:16px; top: 0px;}
.connectorList .dropdown-menu {left: auto; top: 15px;}
.connectorList .dropdown-menu i{font-size: 20px;}

.mappingList .line{margin: 43px -30px;width: 188px;border-top: 1px solid #8c7c7c;}
.mappingList .line .running-through-rate{position: absolute;left: calc(50% - 11px);top: 13px;font-size: 26px;font-weight: bold;}
.mappingList .line .mapping-error-sign {position: absolute;left: calc(50% - 11px);top: 13px;font-size: 26px;color: #ff0000;animation: blink 3s infinite;cursor: pointer;}
.mappingList .line .running-state{position: absolute;left: calc(50% - 22px);;top: 45px;font-weight: bold;}
.mappingList .well-sign-left{position: absolute;top: -10px;left: 3px;}
.mappingList .well-sign-right{position: absolute;top: -31px;left: -7px;}
.mappingList .mapping_well {word-wrap: break-word;word-break: normal;overflow:hidden;background-color: #ffffff;border: 1px solid #8c7c7c;border-radius: 6px;}
.mappingList .mapping_well img{float:left;padding:8px 2px; border-radius: 20%;}
.mappingList .mapping_well span{float:left;margin:21px 10px;}
.mappingList .well-sign-green{color: #808040;}
.mappingList .well-sign-red{color: #ff0000;}
.mappingList .well-sign-operation{position: absolute; right:12px; color: #999999; border-radius: 50%;}
.mappingList .well-sign-operation:hover { color: #333333;}
.mappingList .dropdown {position: absolute; right:0px; top: 0px;}
.mappingList .dropdown-menu {right: 12px;left: auto; top: 28px;}
.mappingList .dropdown-menu i{font-size: 20px;}
.mappingList .text-right {margin-right: -10px;}

/* 闪烁动画 */
@keyframes blink {0% {opacity: 1;}50% {opacity: 0.3;}100% {opacity: 1;}}

.dbsyncer_driver_name { margin-bottom: 5px;}
.dbsyncer_block_increment { background: -webkit-linear-gradient(left, #ffffff, #dffbdc);}
.dbsyncer_block_full { background: -webkit-linear-gradient(left, #ffffff, #dcf5fb);}