<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div class="form-container">
    <div class="card-header">
        <h3 class="card-title text-center">添加驱动</h3>
    </div>
    <div class="card-body">
        <div class="form-actions mb-4">
            <button id="mappingSubmitBtn" class="btn btn-primary">
                <i class="fa fa-save"></i> 保存
            </button>
            <button class="btn btn-outline" onclick="backIndexPage()">
                <i class="fa fa-reply"></i> 返回
            </button>
        </div>

        <form id="mappingAddForm">
            <!-- 数据源和目标源 -->
            <div class="grid grid-cols-2">
                <!-- 数据源 -->
                <div class="form-item">
                    <label class="form-label">
                        <i class="fa fa-database text-primary"></i> 数据源<strong class="text-primary">*</strong>
                    </label>
                    <select name="sourceConnectorId" id="sourceConnectorId" class="form-control">
                        <option th:each="c,s:${connectors}" th:value="${c?.id}" th:text="${c?.name + '(' + c?.config?.connectorType + ')'}" />
                    </select>
                </div>

                <!-- 目标源 -->
                <div class="form-item">
                    <label class="form-label">
                        <i class="fa fa-database text-success"></i> 目标源<strong class="text-primary">*</strong>
                    </label>
                    <select name="targetConnectorId" id="targetConnectorId" class="form-control">
                        <option th:each="c,s:${connectors}" th:value="${c?.id}" th:text="${c?.name + '(' + c?.config?.connectorType + ')'}" />
                    </select>
                </div>
            </div>

            <!-- 数据库配置 -->
            <div class="grid grid-cols-2 mt-5">
                <div class="form-item">
                    <label class="form-label">源库<strong class="text-primary">*</strong></label>
                    <select name="sourceDatabase" id="sourceDatabase" class="form-control"></select>
                </div>
                <div class="form-item">
                    <label class="form-label">目标库<strong class="text-primary">*</strong></label>
                    <select name="targetDatabase" id="targetDatabase" class="form-control"></select>
                </div>
            </div>

            <!-- Schema配置 -->
            <div class="grid grid-cols-2 mt-5">
                <div class="form-item">
                    <label class="form-label">源Schema</label>
                    <input class="form-control" name="sourceSchema" id="sourceSchema" type="text" maxlength="100" placeholder="请输入Schema名称" />
                </div>
                <div class="form-item">
                    <label class="form-label">目标Schema</label>
                    <input class="form-control" name="targetSchema" id="targetSchema" type="text" maxlength="100" placeholder="请输入Schema名称" />
                </div>
            </div>

            <!-- 驱动名称和匹配相似表 -->
            <div class="grid grid-cols-2 mt-5">
                <div class="form-item">
                    <label class="form-label">名称<strong class="text-primary">*</strong></label>
                    <div class="form-control-area">
                        <input class="form-control" name="name" type="text" maxlength="50" required placeholder="请输入驱动名称"/>
                    </div>
                </div>

                <div class="form-item">
                    <label class="form-label">
                        <i class="fa fa-table text-info"></i> 匹配相似表
                    </label>
                    <label class="form-switch">
                        <input name="autoMatchTable" type="checkbox" />
                        <span class="switch-track">
                            <span class="switch-option switch-option-on">Yes</span>
                            <span class="switch-option switch-option-off">No</span>
                            <span class="switch-thumb"></span>
                        </span>
                    </label>
                </div>
            </div>

            <!-- 表映射关系 -->
            <div class="grid mt-5">
                <div class="form-item" id="tableGroups">
                    <label class="form-label">
                        表映射关系
                        <i class="fa fa-question-circle" title="适用于快速配置大量表映射关系场景"></i>
                    </label>
                    <div>
                        <textarea name="tableGroups" class="form-control" rows="10" placeholder="请输入表映射关系，每行一个映射..."></textarea>
                        <label class="text-gray-500">
                            <span class="text-sm">数据源表|目标源表=源表字段A1*|目标字段A2*,源表字段B1|目标字段B2</span>
                            <i class="fa fa-question-circle" title="'|'表示映射关系，'='表示后面是表字段映射关系，有多个字段使用英文','拼接，'*'表示主键，如有多张表换行追加"></i>
                            <a class="text-sm" href="https://gitee.com/ghi/dbsyncer/wikis/%E6%93%8D%E4%BD%9C%E6%89%8B%E5%86%8C/%E6%89%B9%E9%87%8F%E9%85%8D%E7%BD%AE%E8%A1%A8%E6%98%A0%E5%B0%84%E5%85%B3%E7%B3%BB"
                               title="操作手册>批量配置表映射关系" target='_blank'>
                                <i class="fa fa-external-link"></i>参考文档
                            </a>
                        </label>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<script>
function onConnectorChange(connectorId, databaseSelect) {
    doGetter('/connector/getConnectorInfo', { id: connectorId }, function(response){
        if (response.success && response.data) {
            // 保存连接器类型
            // connectorTypes[type] = connector.config.connectorType.toLowerCase();
            const databases = response.data.databases;
            if (databases && databases.length > 0) {
                let db = [];
                databases.forEach(function(dbName) {
                    db.push({ label: dbName, value: dbName, disabled: false })
                });
                databaseSelect.setData(db);
            }
        } else {
            bootGrowl("获取库列表失败: " + response.message, "danger");
        }
    })
}

function initDBSelect($sourceConnectorId, $sourceDatabase) {
    const dbSelect = $sourceDatabase.dbSelect({});
    let connectorSelect = $sourceConnectorId.dbSelect({
        type: 'single',
        onSelect: function (connectorId) {
            onConnectorChange(connectorId[0], dbSelect);
        }
    });
    let selected = connectorSelect.getValues();
    if (selected.length >= 1) {
        onConnectorChange(selected[0], dbSelect);
    }
}

$(document).ready(function() {
    initDBSelect($('#sourceConnectorId'), $('#sourceDatabase'));
    initDBSelect($('#targetConnectorId'), $('#targetDatabase'));

    //保存
    $("#mappingSubmitBtn").click(function () {
        const $form = $("#mappingAddForm");
        if (validateForm($form)) {
            doPoster("/mapping/add", $form.serializeJson(), function (response) {
                if (response.success === true) {
                    bootGrowl("新增驱动成功!", "success");
                    backIndexPage();
                } else {
                    bootGrowl(response.message, "danger");
                }
            });
        }
    });
})
</script>
</html>