<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div class="form-container">
    <form id="customTableForm" method="post">
        <div class="card-header">
            <div class="grid grid-cols-6 items-center">
                <div class="lg:col-span-2"></div>
                <div class="lg:col-span-2 card-title text-center">
                    <span class="text-xxl">[[${mapping?.name}]] - 自定义表</span>
                    <!-- 隐藏表单值 -->
                    <div class="hidden">
                        <input id="mappingId" name="id" type="text" th:value="${mapping?.id}"/>
                        <input id="customType" name="type" type="text" th:value="${type}"/>
                    </div>
                </div>
                <div class="lg:col-span-2"></div>
            </div>
        </div>
        <div class="card-body">
            <div th:if="${type ne 'source'}">
                <div class="flex justify-between mt-4">
                    <div>目标表不支持</div>

                    <div class="form-actions">
                        <button type="button" class="btn btn-outline" onclick="backIndexPage()">
                            <i class="fa fa-reply"></i> 返回
                        </button>
                    </div>
                </div>
            </div>

            <!-- SQL配置 -->
            <div th:replace="mapping/customTableSQL :: content"></div>

            <!-- 半结构化配置 -->
            <div th:replace="mapping/customTableSemiStructured :: content"></div>
        </div>
    </form>
</div>

<script>
    $(function () {
        // 定义返回函数，子页面返回
        let mappingId = $("#mappingId").val();
        window.backIndexPage = function () {
            doLoader("/mapping/page/edit?id=" + mappingId);
        };
    });
</script>
</html>