<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content" th:if="${mapping?.extendedType eq 'SEMI_STRUCTURED'}">
    <!-- 半结构化配置 -->
    <div class="grid grid-cols-2 mt-4">
        <div class="form-item">
            <label class="form-label">[[${type == 'source' ? '数据源' : '目标源'}]]表</label>
            <select id="custom_table_select" class="form-control" name="customTable">
                <option th:each="t,s:${mapping?.customTables}" th:value="${t?.name}" th:text="${t?.name} + ' ('+${t?.type}+')'" th:data-sql="${t?.extInfo?.CT_SQL}" th:data-main-table="${t?.extInfo?.CT_MAIN}"/>
            </select>
        </div>

        <div class="form-item justify-between">
            <label class="form-label"></label>
            <div class="form-actions">
                <button th:if="${mapping?.meta?.state eq 0 and mapping?.customTables.size gt 0}"
                        id="delSemiTableBtn" type="button" class="btn btn-outline">
                    <i class="fa fa-remove"></i> 删除
                </button>
                <button th:if="${mapping?.meta?.state eq 0 and mapping?.customTables.size gt 0}"
                        id="editSemiTableBtn" type="button" class="btn btn-outline">
                    <i class="fa fa-edit"></i> 修改
                </button>
                <button th:if="${mapping?.meta?.state eq 0}"
                        id="addSemiTableBtn" type="button" class="btn btn-primary">
                    <i class="fa fa-plus"></i> 添加
                </button>
                <button type="button" class="btn btn-outline" onclick="backIndexPage()">
                    <i class="fa fa-reply"></i> 返回
                </button>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-2 mt-4">
        <div class="form-item">
            <label class="form-label">表名<strong class="text-primary">*</strong></label>
            <div class="form-control-area">
                <input class="form-control" name="tableName" type="text" maxlength="64" required placeholder="ERP用户表"/>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>字段</th>
            <th>类型</th>
            <th>主键</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="fieldList">
        <tr title='双击设置/取消主键 | 拖动排序'>
            <td>1</td>
            <td>id</td>
            <td>Long</td>
            <td><i title="主键" class="fa fa-key text-warning"></i></td>
            <td>
                <button class="table-action-btn delete fieldDelete" title="删除">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input class="form-control" name="fieldName" type="text" maxlength="64"/></td>
            <td style="overflow: visible; position: relative;">
                <select id="type_name_select" class="form-control">
                    <option th:each="dataTypeItem,s:${dataType}" th:value="${dataTypeItem.name()}" th:text="${dataTypeItem.name()}"/>
                </select>
            </td>
            <td></td>
            <td>
                <button class="table-action-btn view fieldAdd" title="删除">
                    <i class="fa fa-plus"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div style="height: 300px; width: 100%"></div>
<script>
    $(function () {
        let typeNameSelect = initSelect($("#type_name_select"));
        let customTableSelect = $("#custom_table_select").dbSelect({
            type: 'single',
            onSelect: function () {
            }
        });

        //添加
        $("#addSemiTableBtn").on('click', function () {
            // submit("add", "添加");
        });
        //修改
        $("#editSemiTableBtn").on('click', function () {
            // submit("edit", "修改");
        });
        //删除
        $("#delSemiTableBtn").on('click', function () {
            let selected = customTableSelect.getValues() || [];
            if (selected.length >= 1) {
                let data = {
                    id: $("#mappingId").val(),
                    type: $("#customType").val(),
                    customTable: selected[0]
                }
                doPoster("/mapping/removeCustomTable", data, function (response) {
                    handleResponse(response, "删除自定义表");
                });
            }
        });
    });
</script>

</div>