<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content" th:if="${mapping?.extendedType eq 'SEMI_STRUCTURED'}">
    <!-- 半结构化配置 -->
    <div class="grid grid-cols-2 mt-5">
        <div class="form-item">
            <label class="form-label">[[${type == 'source' ? '数据源' : '目标源'}]]表</label>
            <select id="custom_table_select" class="form-control" name="customTable">
                <option th:each="t,s:${mapping?.customTables}" th:value="${t?.name}" th:text="${t?.name} + ' ('+${t?.type}+')'" th:data-sql="${t?.extInfo?.CT_SQL}" th:data-main-table="${t?.extInfo?.CT_MAIN}"/>
            </select>
        </div>

        <div class="form-item justify-between">
            <label class="form-label"></label>
            <div class="form-actions">
                <button th:if="${mapping?.meta?.state eq 0 and mapping?.customTables.size gt 0}"
                        id="delSemiTableBtn" type="button" class="btn btn-outline">
                    <i class="fa fa-remove"></i> 删除
                </button>
                <button th:if="${mapping?.meta?.state eq 0 and mapping?.customTables.size gt 0}"
                        id="editSemiTableBtn" type="button" class="btn btn-outline">
                    <i class="fa fa-edit"></i> 修改
                </button>
                <button th:if="${mapping?.meta?.state eq 0}"
                        id="addSemiTableBtn" type="button" class="btn btn-primary">
                    <i class="fa fa-plus"></i> 添加
                </button>
                <button type="button" class="btn btn-outline" onclick="backIndexPage()">
                    <i class="fa fa-reply"></i> 返回
                </button>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-3 mt-5">
        <div class="form-item">
            <label class="form-label">表名<strong class="text-primary">*</strong></label>
            <div class="form-control-area">
                <input class="form-control" name="tableName" type="text" maxlength="64" required placeholder="ERP用户表"/>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">字段<strong class="text-primary">*</strong></label>
            <div class="form-control-area">
                <input class="form-control" name="fieldName" type="text" maxlength="64" required placeholder="ID"/>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label">类型<strong class="text-primary">*</strong></label>
            <div class="form-control-area">
                <select id="field_select" class="form-control">
                    <option th:each="t,s:${mapping?.mainTables}" th:value="${t?.name}" th:text="${t?.name} + ' ('+${t?.type}+')'"/>
                </select>
            </div>
        </div>
    </div>

    <div class="grid mt-5">
        <div class="form-item">
            <label class="form-label">
                Schema<i class="fa fa-question-circle" title="支持10种字段类型。name字段名, typeName类型名称, type类型编码, pk是否为主键"></i>
            </label>
            <div class="form-control-area">
                <textarea id="schema" name="schema" class="form-control" maxlength="4096" required rows="20">
                    [
        {
            "name": "id",
            "typeName": "String",
            "type": 12,
            "pk": true
        },
        {
            "name": "age",
            "typeName": "Integer",
            "type": 4
        },
        {
            "name": "count",
            "typeName": "Long",
            "type": -5
        },
        {
            "name": "type",
            "typeName": "Short",
            "type": 5
        },
        {
            "name": "money",
            "typeName": "Float",
            "type": 6
        },
        {
            "name": "score",
            "typeName": "Double",
            "type": 8
        },
        {
            "name": "status",
            "typeName": "Boolean",
            "type": -7
        },
        {
            "name": "create_date",
            "typeName": "Date",
            "type": 91
        },
        {
            "name": "time",
            "typeName": "Time",
            "type": 92
        },
        {
            "name": "update_time",
            "typeName": "Timestamp",
            "type": 93
        }
    ]</textarea>
            </div>
        </div>
    </div>

<script>
    $(function () {
        let customTableSelect = $("#custom_table_select").dbSelect({
            type: 'single',
            onSelect: function () {
            }
        });

        //添加
        $("#addSemiTableBtn").on('click', function () {
            submit("add", "添加");
        });
        //修改
        $("#editSemiTableBtn").on('click', function () {
            submit("edit", "修改");
        });
        //删除
        $("#delSemiTableBtn").on('click', function () {
            let selected = customTableSelect.getValues() || [];
            if (selected.length >= 1) {
                let data = {
                    id: $("#mappingId").val(),
                    type: $("#customType").val(),
                    customTable: selected[0]
                }
                doPoster("/mapping/removeCustomTable", data, function (response) {
                    handleResponse(response, "删除自定义表");
                });
            }
        });
    });
</script>

</div>