<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content">
    <h4>增量配置</h4>

    <!-- 增量策略选择 -->
    <p><i class="fa fa-cog text-warning"></i> 增量策略</p>
    <div id="mappingIncrementStrategyConfig">
        <label>
            <input type="radio" name="incrementStrategy" value="log" th:checked="${'log' eq mapping?.listener?.listenerType}" />
            <span><i class="fa fa-file-text-o text-primary"></i> 日志</span>
        </label>
        <label>
            <input type="radio" name="incrementStrategy" value="timing"
                   th:checked="${'timing' eq mapping?.listener?.listenerType}" />
            <span><i class="fa fa-clock-o text-success"></i>定时</span>
        </label>
    </div>

    <!-- 增量点配置 -->
    <table class="table">
        <thead>
        <tr>
            <th style="width: 40%;">Key</th>
            <th style="width: 50%;">Value</th>
            <th style="width: 10%; text-align: center;">操作</th>
        </tr>
        </thead>
        <tbody id="mappingMetaSnapshotConfig">
        <tr th:each="item,entry:${mapping?.meta?.snapshot}">
            <td>
                <strong>[[${entry.current.key}]]</strong>
            </td>
            <td>
                <code>
                    [[${entry.current.value}]]
                </code>
            </td>
            <td>
                <i th:title="双击修改" class="fa fa-edit text-primary metaSnapshotModify"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <input id="metaSnapshot" name="metaSnapshot" class="hidden" type="text"/>

    <!-- 增量事件配置 -->
    <p><i class="fa fa-bolt text-success"></i> 增量事件</p>
    <div class="grid grid-cols-4">
        <div class="form-item">
            <label class="form-label">新增</label>
            <label class="form-switch">
                <input name="enableInsert" th:checked="${mapping?.listener?.enableInsert}" type="checkbox" />
                <span class="switch-track">
                <span class="switch-option switch-option-on">Yes</span>
                <span class="switch-option switch-option-off">No</span>
                <span class="switch-thumb"></span>
            </span>
            </label>
        </div>
        <div class="form-item">
            <label class="form-label">修改</label>
            <label class="form-switch">
                <input name="enableUpdate" th:checked="${mapping?.listener?.enableUpdate}" type="checkbox" />
                <span class="switch-track">
                <span class="switch-option switch-option-on">Yes</span>
                <span class="switch-option switch-option-off">No</span>
                <span class="switch-thumb"></span>
            </span>
            </label>
        </div>
        <div class="form-item">
            <label class="form-label">删除</label>
            <label class="form-switch">
                <input name="enableDelete" th:checked="${mapping?.listener?.enableDelete}" type="checkbox" />
                <span class="switch-track">
                <span class="switch-option switch-option-on">Yes</span>
                <span class="switch-option switch-option-off">No</span>
                <span class="switch-thumb"></span>
            </span>
            </label>
        </div>
        <div class="form-item">
            <label class="form-label">DDL</label>
            <label class="form-switch">
                <input name="enableDDL" th:checked="${mapping?.listener?.enableDDL}" type="checkbox" />
                <span class="switch-track">
                <span class="switch-option switch-option-on">Yes</span>
                <span class="switch-option switch-option-off">No</span>
                <span class="switch-thumb"></span>
            </span>
            </label>
        </div>
    </div>

    <!-- 定时配置 -->
    <div th:id="mappingIncrementStrategyQuartzConfig" class="hidden">
        <div th:replace="mapping/editIncrementQuartz :: content"></div>
    </div>

</div>

</html>