<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content">
    <!-- 插件配置表单 -->
    <div class="grid grid-cols-3 mt-4">
        <!-- 插件选择 -->
        <div class="form-item">
            <label class="form-label">插件</label>
            <select id="pluginId" name="pluginId" class="form-control">
                <option value="" selected="selected">无</option>
                <option th:value="${p?.className +'_'+ p?.version}"
                        th:text="${p?.name +'_'+ p?.version}"
                        th:each="p,state : ${plugin}"
                        th:selected="${tableGroup eq null and p.className eq mapping?.plugin?.className or p.className eq tableGroup?.plugin?.className}">
                </option>
            </select>
        </div>

        <!-- 插件参数 -->
        <div id="pluginExtInfo" class="form-item hidden">
            <label class="form-label">参数<i class="fa fa-question-circle text-tertiary" title="用于插件内部使用，推荐填写JSON格式"></i></label>
            <input name="pluginExtInfo"
                   class="form-control"
                   type="text"
                   maxlength="512"
                   placeholder="请输入插件参数（推荐JSON格式）"
                   th:value="${tableGroup eq null ? mapping?.pluginExtInfo : tableGroup?.pluginExtInfo}" />
        </div>
    </div>

<script>
    $(document).ready(function() {
        initSelect($('#pluginId'));
    });
</script>
</div>

</html>