<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div class="form-container">
    <form id="table_group_modify_form" method="post">
        <div class="card-header">
            <div class="grid grid-cols-6 items-center">
                <div class="lg:col-span-2"></div>
                <div class="lg:col-span-2 card-title text-center">
                    <span class="text-xxl">[[${mapping?.name}]]</span>
                    <p class="card-subtitle">[[${tableGroup?.id}]]</p>
                </div>
                <div class="lg:col-span-2"></div>
            </div>
        </div>

        <div class="card-body">
            <!-- 驱动同步关系 -->
            <div class="grid grid-cols-3">
                <div class="flex items-center">
                    <img draggable="false" style="width: 60px; height: 60px;" th:src="@{'/img/'+ ${mapping?.sourceConnector?.config?.connectorType} + '.png'}" />
                    <div class="ml-2">
                        <p class="text-md">[[${mapping?.sourceConnector?.name}]]</p>
                        <p class="text-sm">数据源表：[[${tableGroup?.sourceTable?.name}]] ([[${tableGroup?.sourceTable?.type}]]）</p>
                    </div>
                </div>
                <div class="text-info items-center text-center">
                    <p></p>
                    <i class="fa fa-arrow-right fa-3x"></i>
                </div>
                <div class="flex items-center">
                    <img draggable="false" style="width: 60px; height: 60px;" th:src="@{'/img/'+ ${mapping?.targetConnector?.config?.connectorType} + '.png'}" />
                    <div class="ml-2">
                        <p class="text-md">[[${mapping?.targetConnector?.name}]]</p>
                        <p class="text-sm">目标源表：[[${tableGroup?.targetTable?.name}]] ([[${tableGroup?.targetTable?.type}]]）</p>
                    </div>
                </div>
            </div>

            <div class="flex items-center justify-end mt-4">
                <div class="form-actions">
                    <span th:if="${mapping?.meta?.state ne 0}">
                        <button type="button" class="btn btn-info" disabled>
                            <i class="fa fa-save"></i> 运行中
                        </button>
                    </span>
                    <button th:if="${mapping?.meta?.state eq 0}" 
                            id="tableGroupSubmitBtn" 
                            type="button" 
                            class="btn btn-primary">
                        <i class="fa fa-save"></i> 保存
                    </button>
                    <button id="tableGroupBackBtn" type="button" class="btn btn-outline" onclick="backIndexPage()">
                        <i class="fa fa-reply"></i> 返回
                    </button>
                </div>
            </div>

            <!-- 字段映射区域 -->
            <h3><i class="fa fa-list-alt text-info"></i> 字段映射</h3>
            <div class="grid grid-cols-9 items-center mt-4">
                <!-- 数据源表选择器 -->
                <div class="lg:col-span-4 flex items-center form-item">
                    <label class="form-label">数据源字段</label>
                    <select id="source_table_field" class="form-control">
                        <option value="" selected="selected">无</option>
                        <option th:each="c,s:${tableGroup?.sourceTable?.column}" th:value="${c?.name}" th:text="${c?.name} +' (' + ${c?.typeName} +')'"/>
                    </select>
                </div>

                <div class="text-info items-center text-center">
                    <i class="fa fa-angle-double-right fa-2x"></i>
                </div>

                <!-- 目标源表选择器 -->
                <div class="lg:col-span-4 flex items-center form-item">
                    <label class="form-label">目标源字段</label>
                    <select id="target_table_field" class="form-control">
                        <option value="" selected="selected">无</option>
                        <option th:each="c,s:${tableGroup?.targetTable?.column}"
                                th:value="${c?.name}"
                                th:text="${c?.name} +' (' + ${c?.typeName} +')'"/>
                    </select>
                </div>
            </div>
            <!-- 操作按钮区域 -->
            <div class="flex items-center justify-end mt-4">
                <div class="form-actions">
                    <button id="fieldAddBtn" type="button" class="btn btn-info">
                        <i class="fa fa-plus"></i> 添加
                    </button>
                    <button id="fieldDelBtn" type="button" class="btn btn-outline" disabled="disabled">
                        <i class="fa fa-trash"></i> 删除
                    </button>
                </div>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>数据源表字段</th>
                    <th>目标源表字段</th>
                    <th>主键</th>
                    <th onclick="event.stopPropagation();">
                        <input type="checkbox" class="fieldCheckboxAll" value="all" onclick="event.stopPropagation();" />
                    </th>
                </tr>
                </thead>
                <tbody id="fieldMappingList">
                <tr title='双击设置/取消主键 | 拖动排序' th:each="f,s:${tableGroup?.fieldMapping}">
                    <td th:text="${s.index + 1}"/>
                    <td th:text="${f?.source?.name}"></td>
                    <td th:text="${f?.target?.name}"></td>
                    <td><i th:if="${f?.target?.pk}" title="主键" class="fa fa-key text-warning"></i></td>
                    <td onclick="event.stopPropagation();">
                        <input type="checkbox" class="fieldCheckbox" onclick="event.stopPropagation();" />
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- 隐藏表单值 -->
            <div class="hidden">
                <input id="tableGroupId" name="id" class="form-control" type="text" th:value="${tableGroup?.id}"/>
                <input id="mappingId" class="form-control" type="text" th:value="${mapping?.id}"/>
                <input id="fieldMapping" name="fieldMapping" class="form-control" type="text"/>
            </div>

            <!-- 高级配置区域 -->
            <h3><i class="fa fa-table text-info"></i> 高级配置</h3>
            <p class="text-xs text-tertiary">只对当前表映射关系生效，优先级高于上一级的高级配置</p>

            <!-- 过滤条件 -->
            <div th:replace="mapping/editFilter :: content"></div>

            <!-- 转换配置 -->
            <div th:replace="mapping/editConvert :: content"></div>

            <!-- 插件配置 -->
            <div th:replace="mapping/editPlugin :: content"></div>

            <div class="blank-block-md"></div>
        </div>
    </form>
</div>

<script th:src="@{/js/mapping/editTableGroup.js}"></script>
</html>
