<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label class="col-sm-3 control-label text-right">间隔(秒)*</label>
                <div class="col-sm-9">
                    <input name="incrementStrategyTimingPeriodExpression" type="number" min="1" class="form-control" dbsyncer-valid="require" th:value="${mapping?.listener?.period}?:30"/>
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-sm-3 control-label text-right">事件</label>
                <div class="col-sm-9" title="区分增删改">
                    <select name="incrementStrategyTimingEventFieldName" class="form-control select-control-default">
                        <option value="" selected="selected">无</option>
                        <option th:each="c,s:${mapping?.sourceColumn}" th:value="${c?.name}" th:text="${c?.name} +' (' + ${c?.typeName} +')'" th:selected="${c.name eq mapping?.listener?.eventFieldName}"/>
                    </select>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label class="col-sm-3 control-label text-right">Insert*</label>
                <div class="col-sm-9">
                    <input name="incrementStrategyTimingInsert" type="text" class="form-control" dbsyncer-valid="require" th:value="${mapping?.listener?.insert}?:'I'" />
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-sm-3 control-label text-right">Update*</label>
                <div class="col-sm-9">
                    <input name="incrementStrategyTimingUpdate" type="text" class="form-control" dbsyncer-valid="require" th:value="${mapping?.listener?.update}?:'U'"/>
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-sm-3 control-label text-right">Delete*</label>
                <div class="col-sm-9">
                    <input name="incrementStrategyTimingDelete" type="text" class="form-control" dbsyncer-valid="require" th:value="${mapping?.listener?.delete?:'D'}"/>
                </div>
            </div>
        </div>
    </div>

</div>

</html>