<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content">
    <p class="text-muted">
        转换配置
        <i class="fa fa-question-circle" id="convertHelpIcon" style="cursor: pointer; margin-left: 5px; color: #5bc0de;" title="点击查看帮助"></i>
    </p>

    <!-- 隐藏的转换类型数据容器（供 JavaScript 使用） -->
    <table id="convertHelpData" class="hidden">
        <tbody>
            <tr th:each="c : ${convert}">
                <td class="convert-code" th:text="${c?.code}"></td>
                <td class="convert-name" th:text="${c?.name}"></td>
                <td class="convert-argNum" th:text="${c?.argNum == -1 ? '-' : c?.argNum}"></td>
                <td class="convert-description" th:text="${c?.description}"></td>
                <td class="convert-example" th:utext="${c?.example}"></td>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label class="col-sm-3 control-label text-right">类型</label>
                <div class="col-sm-9">
                    <select id="convertOperator" class="form-control select-control">
                        <option th:value="${c?.code}" 
                                th:text="${c?.name}" 
                                th:argNum="${c?.argNum}"
                                th:title="${c?.name + '：' + c?.description}"
                                th:each="c,state : ${convert}"/>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-sm-3 control-label text-right">目标源表字段</label>
                <div class="col-sm-9">
                    <select id="convertTargetField" class="form-control select-control">
                        <!-- 目标源表公共字段 -->
                        <option th:if="${tableGroup} == null" th:each="c,s:${mapping?.targetColumn}" th:value="${c?.name}" th:text="${c?.name} +' (' + ${c?.typeName} +')'" />

                        <!-- 目标源表字段 -->
                        <option th:each="c,s:${tableGroup?.targetTable?.column}" th:value="${c?.name}" th:text="${c?.name} +' (' + ${c?.typeName} +')'" />
                    </select>
                </div>
            </div>
            <div class="col-md-4" id="convertParamsGroup">
                <label class="col-sm-2 control-label text-right">参数</label>
                <div class="col-sm-10">
                    <!-- 统一的参数输入容器，根据 argNum 动态显示 -->
                    <div id="convertParamsContainer">
                        <!-- argNum == -1 时显示：表达式/固定值输入框（单行，全宽） -->
                        <div class="col-sm-12" style="padding: 0; display: none;" data-arg-num="-1">
                            <input class="form-control convertParam" type="text" placeholder="表达式或固定值（如：${field1} + ' ' + ${field2} 或 BATCH_001）" />
                        </div>
                        <!-- argNum >= 1 时显示：参数输入框（最多2个，并排） -->
                        <div class="col-sm-6" style="padding-left: 0; display: none;" data-arg-num="1">
                            <input class="form-control convertParam" type="text" maxlength="50" placeholder="参数1" />
                        </div>
                        <div class="col-sm-6" style="padding-right: 0; display: none;" data-arg-num="2">
                            <input class="form-control convertParam" type="text" maxlength="50" placeholder="参数2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-11"></div>
            <div class="col-md-1">
                <button id="convertAdd" type="button" class="btn btn-primary">
                    <span class="fa fa-plus"></span>添加
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <table id="convertTable" class="table table-hover hidden">
                    <thead>
                        <tr>
                            <th>类型</th>
                            <th>目标源表字段</th>
                            <th>参数/表达式</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="convertList">
                        <!-- Mapping convert -->
                        <tr th:if="${tableGroup} == null" th:each="f,s:${mapping?.convert}">
                            <td th:value="${f?.convertCode}">[[${f?.convertName}]]</td>
                            <td>[[${f?.name}]]</td>
                            <td th:text="${f?.args}"></td>
                            <td><a class='fa fa-remove fa-2x convertDelete dbsyncer_pointer' title='删除' ></a></td>
                        </tr>
                        <!-- TableGroup convert -->
                        <tr th:each="f,s:${tableGroup?.convert}">
                            <td th:value="${f?.convertCode}">[[${f?.convertName}]]</td>
                            <td>[[${f?.name}]]</td>
                            <td th:text="${f?.args}"></td>
                            <td><a class='fa fa-remove fa-2x convertDelete dbsyncer_pointer' title='删除' ></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 隐藏表单值 -->
    <div class="form-group hidden">
        <input id="convert" name="convert" class="form-control" type="text"/>
    </div>

</div>
</html>