<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<!-- Monitor -->
<div class="container-fluid">

    图表信息
    <p>CPU 内存 硬盘 堆内存 </p>

    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <!-- 驱动下拉 -->
                <select id="metaData" name="metaData" class="form-control select-control">
                    <option th:each="m,s:${meta}" th:value="${m?.id}" th:text="${m?.mappingName} +' (' + ${m?.model} +')'" th:selected="${m?.id eq metaId}"/>
                </select>
            </div>
            <div class="col-md-9"></div>
        </div>
    </div>

    <!-- 数据 -->
    <table class="table table-hover">
        <caption>
            数据
        </caption>
        <thead>
        <tr>
            <th></th>
            <th>时间</th>
            <th>数据</th>
            <th>事件</th>
            <th>结果</th>
            <th>异常</th>
        </tr>
        </thead>
        <tr th:each="d,s : ${data}">
            <td th:text="${s.index}+1"></td>
            <td th:text="${#dates.format(d?.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${d?.json}"></td>
            <td th:text="${d?.event}"></td>
            <td>
                <span th:if="${d?.success}" class="label label-success">成功</span>
                <span th:if="${not d?.success}" class="label label-warning">失败</span>
            </td>
            <td th:text="${d?.error}"></td>
        </tr>
    </table>

    <!-- 线程任务 -->
    <table class="table table-hover">
        <caption>线程任务</caption>
        <thead>
        <tr>
            <th>序号</th>
            <th>类型</th>
            <th>指标</th>
        </tr>
        </thead>
        <tr th:each="item,userStat:${threadInfo}">
            <td th:text="${userStat.index}+1"></td>
            <td th:text="${userStat.current.key}"></td><!-- key-->
            <td th:text="${userStat.current.value}"></td><!-- value-->
        </tr>
    </table>

    <!-- 日志 -->
    <table class="table table-hover">
        <caption>日志</caption>
        <thead>
        <tr>
            <th>序号</th>
            <th>信息</th>
            <th>时间</th>
        </tr>
        </thead>
    </table>

</div>

<script th:src="@{/js/monitor/index.js}"></script>
</html>