<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div class="container-fluid">
  <div class="container">
    <form id="retryDataForm" class="form-horizontal" role="form" method="post">
      <!-- 标题 -->
      <div class="row text-center">
        <div class="page-header">
          <h3>重试[[${meta?.mappingName}]]</h3>
          <input type="hidden" name="metaId" id="metaId" th:value="${meta?.id}"/>
          <input type="hidden" name="messageId" th:value="${message?.id}"/>
          <input type="hidden" id="retryDataParams" name="retryDataParams"/>
        </div>
      </div>

      <!-- 操作 -->
      <div class="form-group">
        <div class="col-md-10"><h4>[[${message?.sourceTableName}]] <span class="fa fa-angle-double-right"></span> [[${message?.targetTableName}]]</h4></div>
        <div class="col-md-2 text-right">
          <button id="retryDataSubmitBtn" type="button" class="btn btn-primary">
            <span class="fa fa-refresh"></span>执行
          </button>
          <button id="retryDataBackBtn" type="button" class="btn btn-default">
            <span class="fa fa-reply"></span>返回
          </button>
        </div>
      </div>

      <!-- 配置 -->
      <div class="row">
        <div class="col-md-12">
          <table class="table table-hover">
            <caption>执行前，请先检查数据。字段类型是否支持当前值</caption>
            <thead>
            <tr>
              <th></th>
              <th>目标表字段</th>
              <th>值类型</th>
              <th>值</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c,state : ${message?.columns}">
              <td th:text="${state.index}+1"></td>
              <td th:text="${c?.key + '(' + c?.keyType + ')'}"/>
              <td th:text="${c?.valueType}"/>
              <td th:text="${c?.value}"/>
              <td><i th:type="${c?.key}" th:title="修改" class="fa fa-edit well-sign-green dbsyncer_pointer retryDataModify"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </form>
  </div>
</div>

<script th:src="@{/js/monitor/retry.js}"></script>
</html>