<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content">
    <div class="dbsyncer-section-title">SQLite 连接配置</div>
    
    <div class="form-item-full">
        <label class="form-label">数据库文件<strong class="text-primary">*</strong></label>
        <div class="form-control-area">
            <input class="form-control" name="serviceName" type="text" maxlength="256" dbsyncer-valid="require" placeholder="/Users/test.db" th:value="${connector?.config?.serviceName} ?: '/Users/test.db'"/>
        </div>
    </div>
    
    <div th:replace="connector/addDataBaseProperties :: content"></div>
    
    <div class="form-item-full">
        <label class="form-label">连接参数</label>
        <div class="form-control-area">
            <textarea name="properties" class="form-control" maxlength="1024" rows="5" placeholder="journal_mode=WAL&synchronous=NORMAL&cache_size=2000&foreign_keys=true&busy_timeout=5000"
                      th:text="${connector?.config?.properties} ?: 'journal_mode=WAL&synchronous=NORMAL&cache_size=2000&foreign_keys=true&busy_timeout=5000'"></textarea>
        </div>
    </div>
    
    <div class="form-item-full">
        <label class="form-label">驱动</label>
        <div class="form-control-area">
            <input class="form-control" readonly="true" name="driverClassName" type="text" th:value="${connector?.config?.driverClassName} ?: 'org.sqlite.JDBC'" />
        </div>
    </div>
</div>

</html>
