<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content">
    <div class="form-group">
        <div class="col-md-5">
            <h4>ID</h4>
        </div>
        <div class="col-md-2 text-center outer">
            <span class="fa fa-angle-double-right fa-2x"></span>
        </div>
        <div class="col-md-5 text-right">
            <h4>ID</h4>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-1 control-label">转换</label>
        <div class="col-sm-3">
            <select class="form-control select-control">
                <option value="append">追加</option>
                <option value="replace">替换</option>
            </select>
        </div>

        <label class="col-sm-1 control-label">参数</label>
        <div class="col-sm-3">
            <input class="form-control convertArg" type="text" maxlength="50" dbsyncer-valid="require" placeholder="参数"/>
        </div>
        <div class="col-sm-3">
            <input class="form-control convertArg" type="text" maxlength="50" dbsyncer-valid="require" placeholder="参数"/>
        </div>

        <div class="col-sm-1">
            <button id="convertAdd" type="button" class="btn btn-primary">
                <span class="fa fa-plus"></span>添加
            </button>
        </div>
    </div>

    <div class="form-group">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>转换</th>
                <th>参数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="" class="convertList">
            <tr>
                <td>追加</td>
                <td>test</td>
                <td><a class='fa fa-remove fa-2x convertDelete dbsyncer_pointer' title='删除'></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>