<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label class="col-sm-3 control-label text-right">表别名<strong class="driverVerifcateRequired">*</strong></label>
                <div class="col-sm-9">
                    <input name="incrementStrategyLogTableLabel" type="text" dbsyncer-valid="require" class="form-control" th:value="${mapping?.listener?.tableLabel}?:'T1'">
                </div>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
</div>

</html>