<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content">
    <p class="text-muted">增量配置</p>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <div class="row text-center" id="mappingIncrementStrategyConfig">
                    <div class="col-sm-6">
                        <input type="radio" name="incrementStrategy" value="log" th:checked="${'log' eq mapping?.listener?.listenerType}" /> 日志
                    </div>
                    <div class="col-sm-6">
                        <input type="radio" name="incrementStrategy" value="timing" th:checked="${'timing' eq mapping?.listener?.listenerType}" /> 定时
                    </div>
                </div>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>

    <!-- 定时配置 -->
    <div th:id="mappingIncrementStrategyQuartzConfig" class="hidden">
        <div th:replace="mapping/editMappingIncrementQuartz :: content"></div>
    </div>

    <!-- 日志配置 -->
    <div th:id="mappingIncrementStrategyDQLConfig" class="hidden">
        <div th:replace="mapping/editMappingIncrementDQL :: content"></div>
    </div>

</div>

</html>