<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content">
    <div class="form-group">
        <label class="col-sm-2 control-label">帐号 <strong class="driverVerifcateRequired">*</strong></label>
        <div class="col-sm-4">
            <input class="form-control" name="username" type="text" maxlength="32" dbsyncer-valid="require" placeholder="admin" th:value="${connector?.config?.username}"/>
        </div>
        <label class="col-sm-2 control-label">密码 <strong class="driverVerifcateRequired">*</strong></label>
        <div class="col-sm-4 ">
            <input class="form-control" name="password" type="password" maxlength="32" dbsyncer-valid="require"
                   th:value="${connector?.config?.password}"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">架构名 </label>
        <div class="col-sm-4">
            <input class="form-control" name="schema" type="text" maxlength="32" th:value="${connector?.config?.schema}"/>
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">URL <strong class="driverVerifcateRequired">*</strong></label>
        <div class="col-sm-10">
            <textarea name="url" class="form-control dbsyncer_textarea_resize_none" maxlength="512" dbsyncer-valid="require" rows="5" th:text="${connector?.config?.url}?:'jdbc:oracle:thin:@127.0.0.1:1521:ORCL'"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">驱动 </label>
        <div class="col-sm-10">
            <input class="form-control" readonly="true" name="driverClassName" type="text" value="oracle.jdbc.OracleDriver" />
        </div>
    </div>

    <!-- SQL配置 -->
    <div th:replace="connector/addSQL :: content"></div>

    <div class="form-group">
        <label class="col-sm-2 control-label">SQL</label>
        <div class="col-sm-10">
            <textarea id="sql" name="sql" class="sql form-control dbsyncer_textarea_resize_none" maxlength="8192" rows="10">SELECT T1.*,ROWIDTOCHAR(ROWID) as RID FROM "USER" T1</textarea>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            // 初始化select插件
            initSelectIndex($(".select-control"), 1);
        })
    </script>
</div>

</html>