<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<div th:fragment="content">
    <div class="form-group">
        <label class="col-sm-2 control-label">URL <strong class="driverVerifcateRequired">*</strong></label>
        <div class="col-sm-10">
            <input class="form-control" name="url" type="text" value="ldap://127.0.0.1:389/" placeholder="ldap://127.0.0.1:389/" maxlength="150" dbsyncer-valid="require" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Base <strong class="driverVerifcateRequired">*</strong></label>
        <div class="col-sm-10">
            <input class="form-control" name="base" type="text" value="dc=hello,dc=com" placeholder="dc=hello,dc=com" maxlength="150" dbsyncer-valid="require" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">DN <strong class="driverVerifcateRequired">*</strong></label>
        <div class="col-sm-10">
            <input class="form-control" name="dn" type="text" value="" placeholder="uid" maxlength="32" dbsyncer-valid="require" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">帐号 <strong class="driverVerifcateRequired">*</strong></label>
        <div class="col-sm-4">
            <input class="form-control" name="userDn" type="text" value="cn=Directory Manager" placeholder="cn=Directory Manager" maxlength="32" dbsyncer-valid="require" />
        </div>
        <label class="col-sm-2 control-label">密码 <strong class="driverVerifcateRequired">*</strong></label>
        <div class="col-sm-4">
            <input class="form-control" name="password" type="password" value="" maxlength="32" dbsyncer-valid="require" />
        </div>
    </div>
    <div class="form-group driverEditHideItem">
        <label class="col-sm-2 control-label">同步范围 </label>
        <div class="col-sm-10">
            <select class="form-control select-control" name="searchScope">
                <option value="subtree">包含子级</option>
                <option value="onelevel">同级</option>
            </select>
        </div>
    </div>
    <div class="form-group driverEditHideItem">
        <label class="col-sm-2 control-label">继承对象 </label>
        <div class="col-sm-10">
            <div class="form-textarea">
                <div id="addLdapObjectTextarea" class="driverLdapObjectsContainer">
                    <div class="input-group input-group-default">
                        <input type="text" class="form-input form-input-default" name="extendObjects" maxlength="32" dbsyncer-valid="require" value="top" /> <span
                            class="fa fa-times-circle dbsyncer_pointer deleteLdapObject"></span>
                    </div>
                    <div class="input-group input-group-default">
                        <input type="text" class="form-input form-input-default" name="extendObjects" maxlength="32" dbsyncer-valid="require" value="organizationalUnit" /> <span
                            class="fa fa-times-circle dbsyncer_pointer deleteLdapObject"></span>
                    </div>
                </div>
                <div class="addLdapObjectPlus">
                    <span class="fa fa-plus fa-2x dbsyncer_pointer" onclick="addLdapObject(this)"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="driverLdapParamsContainer driverEditHideItem">
        <!-- 参数 -->
        <div class="form-group">
            <label class="col-sm-2 control-label">字段 <strong
                    class="driverVerifcateRequired">*</strong></label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="filedName" maxlength="32" dbsyncer-valid="require">
            </div>
            <div class="col-sm-4">
                <select class="form-control select-control" name="filedTypeName">
                    <option value="12">VARCHAR</option>
                    <option value="2">NUMERIC</option>
                    <option value="4">INTEGER</option>
                    <option value="91">DATE</option>
                    <option value="93">TIMESTAMP</option>
                    <option value="6">FLOAT</option>
                    <option value="8">DOUBLE</option>
                    <option value="-1">LONGVARCHAR</option>
                </select>
            </div>
            <span class="col-sm-2 dbsyncer_pointer fa fa-plus fa-2x"
                  onclick="addLdapDriverDataDetail(this)"></span>
        </div>
    </div>
</div>

</html>